# Ignore node_modules in both server and client
node_modules/
server/node_modules/
client/node_modules/

# Ignore environment files
.env
server/.env
client/.env

# Ignore build folders
server/dist/
client/build/
client/.next/

# Ignore logs
logs
server/logs
client/logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore dependency lock files (optional)
package-lock.json
yarn.lock
